*{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: none;
}
img{
	border: 0;
}
#agreements{
	width: 100%;
	padding-top: 10px;
	min-height:1130px; 
	height:auto!important; 
	
	_height:1130px;
	height: 1130px;
	background-image: url(../images/register/Shading.png);
}
#agreements-container{
	padding-top: 20px;
	padding-left: 40px;
	width: 1160px;
	margin: 7px auto;
	
	background: white;
	min-height:1106px; 
	height:auto!important; 
	
	_height:1106px;
	height: 1106px;
}
.box_h{
	width: 1160px;
	height:20px;
	border-bottom: 2px solid #57e6d3;
	color: #57e6d3;
	font-size: 16px;
	line-height: 20px;
	font-weight: bolder;
	margin-bottom: 20px;
}
.next_onestep{
	width: 100%;
	height: 12px;
	color: #999999;
	font-size: 12px;
	margin-bottom: 30px;
}
.agreements_lists{
	margin-left: 24px;
	margin-top: 4px;
	margin-bottom: 20px;
}

.agreements_lists li{
	height: 24px;
	line-height: 24px;
	color: #7a7a7a;
	font-size: 12px;
	
}
.agreements_specail{
	width: 600px;
	height: 24px;
	line-height: 24px;
	color: #7a7a7a;
	font-size: 12px;
	margin-left: 71px;
}
.agreements_color{
	color: #661b18;
	margin-left: 28px;
	font-weight: bolder;
}
.agreements_margin{
	margin-bottom: 70px;
}
.exclusive{
	width: 914px;
	height: 400px;
	
}
.exclusive-left{
	float: left;
	width: 230px;
	height: 400px;
	
}
.exclusive_product{
	width: 180px;
	height: 260px;
	border: 1px solid #CCCCCC;
	margin-left: 28px;
}
.exclusive-right{
	float: left;
	width: 684px;
	height: 400px;
	
}
/*右边上面部分*/
.exright_top{
	width: 684px;
	height: 90px;
	
}
/*右边上面左边部分*/
.exclusive_infor{
	float: left;
	width: 213px;
	height: 88px;
	
}
.exproduct_name{
	font-size: 16px;
	color: #252525;
	margin-bottom: 14px;
}
.exproduct_price{
	font-size:16px;
	color: #ea0000;
	font-weight: 900;
	margin-bottom: 14px;
}
.exproduct_date{
	color: #a7a7a7;
	font-size: 12px;
}
/*右边上面右边部分*/

.exclusive_region{
	float: left;
	width: 470px;
	height: 88px;
	position: relative;
}
.ex_dujia{
	
	margin-top: 6px;
	font-size: 16px;
	font-weight:bolder ;
	color: #040303;
}
.ex_city{
	width: 180px;
	height: 30px;
	border: 1px solid #CCCCCC;
	position: absolute;
	left: 90px;
	top: 1px;
	cursor: pointer;
}
.ex_province{
	width: 180px;
	height: 30px;
	border: 1px solid #CCCCCC;
	position: absolute;
	top: 1px;
	right:1px;
	cursor: pointer;
}

.ck_region{
	width: 14px;
	height: 14px;
	position: absolute;
	top: 6px;
	left: 7px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
}
/*****点击之后切换独家地区样式*****/
.ex_afterclick{
	border: 2px solid #57E6D3;
}
.ex_change{
	background-image: url(../images/register/icons.png);
	background-repeat: no-repeat;
	background-position: -4px -123px;
	border: 0;
}
/***************/
.ck_name{
	position: absolute;
	font-weight: bolder;
	left: 38px;
	top: 5px;
	color: #252525;
	font-size: 16px;
}
.ck_amount{
	position: absolute;
	font-size: 12px;
	color: #a7a7a7;
	top: 8px;
	right: 10px;
	
}
.ex_addregions{
	position: absolute;
	top: 54px;
	text-indent: 26px;
	
	color: #661b18;
	left: 90px;
	width: 180px;
	height: 30px;
	border: 1px dashed #CCCCCC;
	cursor: pointer;
}
.ex_addjia{
	color: #661b18;
	font-size: 26px;
	margin-top: 5px;
	margin-right: 16px;
	margin-left: -10px;
	font-weight: bolder;
}
.ex_addzeng{
	position: absolute;
	top: 7px;
	left: 20px;
	color: #661b18;
	font-size: 16px;
	font-weight: bolder;
}
/*右边下面部分*/
.exright_bottom{
	margin-top:85px;
	height: 205px;
	width: 684px;
	
}
.bottom_one,.bottom_two{
	width: 684px;
	height: 32px;
	
	margin-bottom: 20px;
}
.ex_xiang,.ex_songhuodizhi{
	width: 180px;
	height: 30px;
	float: left;
	border: 1px solid #CCCCCC;
	margin-left: 10px;
	margin-right: 10px;
}
.ex_minus{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	background-image: url(../img/design_min.png);
	background-repeat: no-repeat;
	background-position: 6px 14px;
	cursor: pointer;
}
.ex_add{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	background-image: url(../img/design_add.png);
	background-repeat: no-repeat;
	background-position: 8px 8px;
	cursor: pointer;
}
.ex_amount{
	float: left;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	font-weight: bolder;
	width: 114px;
	height: 30px;
	outline: 0;
	border: 0;
	border-left:1px solid #CCCCCC ;
	border-right:1px solid #CCCCCC ;
	color: #ea0000;
}
.ex_situation{
	width: 400px;
	height: 30px;
	float: left;
	
	color: #424242;
	font-size: 14px;
	line-height: 30px;
}
.ex_situation span{
	margin-right: 20px;
}
.ex_songhuodizhi{
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	text-indent: 6px;
	color:#424242;
	position: relative;
}
.ex_jiantou1{
	width: 30px;
	height: 32px;
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
}
.ex_jiantou2{
	width: 30px;
	height: 32px;
	display: none;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
}
.ex_selectaddress{
	overflow: auto;
	position: absolute;
	width: 178px;
	padding-left: 2px;
	height: 40px;
	top: 30px;
	left: -1px;
	border: 1px solid #CCCCCC;
	
	display: none;
	
	background: white;
}
.ex_selectaddress li{
	height: 18px;
	font-size: 14px;
	line-height: 18px;
}
.ex_sendgoods{
	float: left;
	line-height: 30px;
	font-size: 14px;
	color: #424242;
	margin-right: 6px;
	
}
.ex_sdrevision{
	float: left;
	line-height: 30px;
	font-size: 14px;
	color: #661b18;
	cursor: pointer;
}
.bottom_three{
	width: 684px;
	height: 30px;
	margin-bottom: 15px;
}
.ex_words{
	float: left;
	color: #040303;
	font-size: 16px;
	line-height: 30px;
}
.ex_words span{
	margin-left: 32px;
}
.ex_time{
	text-align: center;
	float: left;
	margin-left: 10px;
	color:#b4b4b4 ;
	width: 40px;
	height: 28px;
	background: red;
}
.sure_agent{
	width: 180px;
	height: 40px;
	margin-left: 83px;
	margin-bottom: 8px;
	background: #CCCCCC;
	border: 0;
	color: white;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	outline: 0;
	cursor: pointer;
}
.ex_agree{
	margin-left: 84px;
	color: #b4b4b4;
	font-size: 12px;
	
}
.ex_agree span{
	color: #661b18;
}
