/*logo开始*/
ul{
	list-style: none;
}
#login_container {
	width: 100%;
	height: auto;
}

#login_logo {
	width: 100%;
	height: 100px;
	background-color: #f6f6f6;
}

#login_logo .logo_container {
	width: 1280px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}

#login_logo .logo_container img {
	position: absolute;
	left: 0;
	top: 20px;
	cursor: pointer;
}

#login_logo .logo_container span {
	display: inline-block;
	position: absolute;
	left: 126px;
	top: 42px;
	color: #999999;
	font-size: 16px;
}


/*logo结束*/
/*主体开始*/
#shopping_container {
	width: 100%;
	height: auto;
	background-image: url(../images/register/Shading.png);
	position: relative;
}
/*主体部分的步骤开始*/
.step_container {
	width: 100%;
	height: auto;
	position: absolute;
	top: -12px;
	left: 0;
}

.step_container .step_img {
	width: 1280px;
	height: auto;
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.step_container .left_side {
	width: 50%;
	height: 42px;
	background-image: url(../images/register/nav_side02.png);
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 1;
}

.step_container .right_side {
	width: 50%;
	height: 42px;
	background-image: url(../images/register/nav_side02.png);
	position: absolute;
	right: 0;
	top: 0px;
	z-index: 1;
}
/*主体部分的步骤结束*/
/*主体部分的主要内容开始*/
.register_mian {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
/*步骤说明开始*/
.register_mian .step_nodes {
	width: 1280px;
	height: 30px;
	margin: 0 auto;
	position: relative;
	padding-top: 30px;
}

.register_mian .step_nodes:after {
	clear: both;
	content: '';
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

.register_mian .step_nodes li {
	float: left;
	width: 352px;
	height: 30px;
	text-align: right;
	color: #57e6d3;
	font-size: 18px;
	padding-top: 5px;
}

.last3{
	width: 333px !important;
}
/*步骤说明结束*/
.payment_main{
	width: 1200px;
	height: 618px;
	border-radius: 2px;
	box-shadow: 0 0 8px 4px #E6E6E6;
	background-color: #FFFFFF;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 52px;
}
.payment_head{
	width: 1200px;
	height: auto;
	overflow: hidden;
}
.pay_money{
	width: 1160px;
	height: 34px;
	margin: 0 auto;
	background-color: #ffe6e6;
	margin-top: 20px;
}
.pay_wap{
	width: 500px;
	height: 34px;
	line-height: 30px;
	padding-left: 8px;
}
.pay_text{
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}
.pay_num{
	font-size: 24px;
	color: #ea0000;
}
.pay_explain{
	width: 1100px;
	height: 20px;
	font-size: 12px;
	color: #999999;
	padding-left: 32px;
    padding-top: 10px;
}
.payment_body{
	width: 1160px;
	height: 400px;
	border: 1px solid #E6E6E6;
	margin: 0 auto;
	margin-top: 20px;
}
.body_title{
	width: 1160px;
	height: auto;
	font-size: 14px;
	color: #333333;
}
.title_text{
	padding-top: 20px;
    padding-left: 12px;
}
.pay_list{
	width: 1120px;
	height: 348px;
	overflow: hidden;
	list-style: none;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
}    
.mode_list{
	width: 106px;
	height: 34px;
	margin-right: 4px;
	float: left;
	cursor: pointer;
	position: relative;
}
.list_title{
	width: 106px;
	height: 34px;
	background-color: #eeeeee;
	font-size: 14px;
	color: #333333;
	text-align: center;
	line-height: 34px;
	
}
.list_content,.e_bank{
	width: 1118px;
	height: 300px;
	border: 1px solid #57E6D3;
	margin: 0 auto;
	position: absolute;
	left: 0;
	top: 34px;
}
.available{
	width: 1000px;
	height: 50px;
	margin-top: 100px;
	margin-left: 20px;
	overflow: hidden;
}
.available_text{
	width: 200px;
	height: 50px;
	padding-left: 40px;
	line-height: 50px;
	background-image: url(../images/shopping_car/remainder.png);
	background-repeat: no-repeat;
	background-position: 8px 10px;
	float: left;
	font-size: 14px;
}
.available_num{
	color: #EA0000;
	font-size: 18px;
}
.recharge{
	display: block;
	float: left;
	width: 100px;
	height: 32px;
	border: 1px solid #57E6D3;
	border-radius: 4px;
	background-color: #FFFFFF;
	font-size: 18px;
	color: #57E6D3;
	text-align: center;
	line-height: 32px;
	margin-top: 8px;
}
.firs_list{
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #57E6D3;
	border-right: 1px solid #57E6D3;
	border-top: 1px solid #57E6D3;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.e_bank{
	width: 1118px;
	height: 300px;
	border: 1px solid #57E6D3;
	margin: 0 auto;
	position: absolute;
	left: -110px;
	top: 34px;
}
.third_pay{
	width: 1118px;
	height: 300px;
	border: 1px solid #57E6D3;
	margin: 0 auto;
	position: absolute;
	left: -220px;
	top: 34px;
}
.e_bank_list,.third_pay_list{
	width: 868px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 40px;
}
.e_bank_list>li,.third_pay_list>li{
	width: 190px;
	height: 62px;
	border: 1px solid #E6E6E6;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
	position: relative;
}
.chk{
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	left: 16px;
	top: 25px;
	border-radius: 4px;
	background-color: #ccc;
	cursor: pointer;
}
.selected{
	width: 14px;
	height: 14px;
	display: none;
	position: absolute;
	left: 16px;
	top: 25px;
	border-radius: 4px;
	background-image: url(../images/register/icons.png);
	background-position: 56px -123px;
	cursor: pointer;
}
.eback_img{
	width: 136px;
	height: 41px;
	display: block;
    position: absolute;
    left: 40px;
    top: 10px;
}
.payment_foot{
	width: 200px;
	height: 48px;
	background-color: #57E6D3;
	color: #FFFFFF;
	font-size: 24px;
	border-radius: 4px;
	text-align: center;
	line-height: 48px;
	margin-top: 20px;
	float: right;
	margin-right: 20px;
	cursor: pointer;
}   















