*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
/*设备详情布局样式*/
.container{
	width: 100%;
	height: auto;
	background-color: #ffffff;
	padding-bottom: 4rem;
}
.search{
	width: 100%;
	height: 7.5rem;
	background-color: #393A3E;
	overflow: hidden;
}
.searchTitle{
	color: #ffffff;
	font-size: 0.875rem;
	text-align: center;
	margin-top: 1.625rem;
	margin-bottom: 0.6875rem;
}
.searchWrapper{
	width: 90%;
	height: 2rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.searchContent{
	border: none;
	outline: none;
	width: 18.1rem;
	height: 2rem;
	background-color: #ffffff;
	border-radius: 4px 0 0 4px;
	padding-left: 0.5rem;
}
.seachImg{
	width: 2.875rem;
	height: 2rem;
	background-color: #3FC9A6;
	background-image: url(../img/Assets.png);
	background-repeat: no-repeat;
	background-position: 13px -49px;
	border-radius: 0 4px 4px 0;
}
.tipText{
	width: 100%;
	text-align: center;
	font-size: 0.875rem;
	color: #FFFFFF;
}
.detailSearch{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4.5rem;
}
.detailSearchImg{
    background-position: 13px -49px;
}
.detailIfoContainer{
	width: 85%;
	height: auto;
	margin: 0 auto;
}
.equipmentIfo{
	width: 100%;
	height: auto;
	margin-top: 1.875rem;
}
.equipmentIfoTitle{
	width: 7.5rem;
	height: 1.875rem;
	background-color: #3FC9A6;
	border-radius: 8px;
	text-align: center;
	line-height: 1.875rem;
	color: #FFFFFF;
}
.bindB{
	margin-top: 2.8rem;
}
.isBinding{
	margin-top: 1rem;
}
.noBinding{
	background-color: #CCCCCC;
	font-size: 0.875rem;
}
.isRelevance{
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #3FC9A6;
	color: #FFFFFF;
	text-align: center;
	width: 100%;
	height: 3.125rem;
	line-height: 3.125rem;
	font-size: 0.875rem;
}
.sellerBinding{
	padding: 0 1.625rem;
}
.SellerName{
	font-size: 0.875rem;
	color: #3FC9A6;
}
.licence{
	font-size: 0.875rem;
	margin-left: 1rem;
}
.ifoList{
	margin-top: 1rem;
}
.ifoList li{
	font-size: 0.8125rem;
	color: #999999;
	height: auto;
	line-height: 2rem;
	display: flex;
	
}
.ifoList li span:nth-child(1){
	width: 25%;
}
.ifoList li span:nth-child(2){
	color: #666666;
	margin-left: 1.375rem;
}
.ifoList li:nth-child(2) span:nth-child(2){
	margin-left:2.2rem;
}
.baseIfo{
	background-color: #FFFFFF;
	color: #3FC9A6;
	text-align: left;
	width: auto;
}
.equipmentIfoList{
	margin-top: 1rem;
}
.equipmentIfoList li{
	width: 100%;
	height: 2rem;
	display: flex;
	justify-content: flex-start;
	color: #888888;
	font-size: 0.875rem;
	line-height: 2rem;
	margin-top: 0.5rem;
}
.equipmentIfoList li p:nth-child(1){
	border-bottom: none;
	width: 35%;
	margin-right: 0.9rem;
}
.equipmentIfoList li p:nth-child(2){
	border-bottom: 1px solid #e6e6e6;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.equipmentIfoList li p:nth-child(2) input{
	border: none;
	outline: none;
	width: 80%;
	height: 1.9rem;
	line-height: 1.9rem;
	color: #888888;
	font-size: 0.875rem;
}
.bindingIfoWrap .equipmentIfoList li p:nth-child(2){
	border-bottom: none;
    word-break: break-all;
}
.bindingIfoWrap .equipmentIfoList li p:nth-child(1){
	width: 75%;
}
.bindingIfo{
	padding: 0.5rem;
}
.detailIfo,.bindingSellerIfo{
	margin-top: 1rem;
}
.IPC{
	height: 2rem;
	font-size: 0.875rem;
	color: #666666;
	line-height: 2rem;
	display: flex;
	justify-content: flex-start;
	
}
.IPC span:nth-child(1){
	width: 30%;
	color: #999999;
}
.IPC span.foodLicense{
	width: auto;
}
/*搜索结果分割线样式*/
.searchResult{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 1.625rem auto;
	font-size: 0.875rem;
	color: #666666;
}
.searchResult span:nth-child(2){
	padding: 0 0.5rem;
}
.searchResult .dish{
	flex: 1;
	border: 0.5px dashed #979797;
	height: 0;
	margin-top: 0.6rem;
}
.noborder{
	border-bottom: none !important;
}
/*商家地址样式*/
.equipmentIfoList li.addressWrapper{
	height: auto;
	line-height: 1rem;
}
.bindingDeailIfo .bindingSellerIfo p.searchAddress{
	height: auto;
    line-height: 1rem;
}
.bindingDeailIfo .bindingSellerIfo p.searchAddress span.licence{
	word-break: break-all;
    width: 64%;
}
/*MAC输入错误提示框样式*/
.tip{
	width: 10rem;
	height: 2.75rem;
	background-color: #343338;
	opacity: 0.8;
	color: #3FC9A6;
	font-size: 0.875rem;
	text-align: center;
	line-height: 2.75rem;
	border-radius: 6.25rem;
	position: fixed;
	left: 50%;
	bottom: 5rem;
	margin-left: -5rem;
	display: none;
}
.middle{
	display: block;
	position: fixed;
	left: 50%;
	bottom: 50%;
	margin-bottom: -1.375rem;
	margin-left: -5rem;
}
.hide{
	display: none;
}
.isHide{
	animation: isHide 1s;
	-moz-animation: isHide 1s;	/* Firefox */
	-webkit-animation: isHide 1s;	/* Safari 和 Chrome */
	-o-animation: isHide 1s;	/* Opera */
	opacity: 0;
}
@keyframes isHide
{
from {opacity: 0.8;}
to {opacity: 0;}
}

@-moz-keyframes isHide /* Firefox */
{
from {opacity: 0.8;}
to {opacity: 0;}
}

@-webkit-keyframes isHide /* Safari 和 Chrome */
{
from {opacity: 0.8;}
to {opacity: 0;}
}

@-o-keyframes isHide /* Opera */
{
from {opacity: 0.8;}
to {opacity: 0;}
}
/*解除关联提示框样式*/
.enquireFrame{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: rgba(57,58,61,0.9);
	display: none;
}
.enquireFrameWrapper{
	width: 12.5rem;
	height: 10.65rem;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -6.25rem;
	margin-top: -5.325rem;
	border-radius: 10px;
	overflow: hidden;
}
.enquireFrameTitle{
	text-align: center;
	width: 100%;
	height: 2.625rem;
	line-height: 2.625rem;
	background-color: #393A3E;
	color: #FFFFFF;
	font-size: 0.875rem;
}
.enquireFrameBody{
	width: 100%;
	height: 8rem;
	background-color: #FFFFFF;
	color: #393A3E;
	font-size: 0.875rem;
	overflow: hidden;
}
.enquireFrameBody p:nth-child(1){
	width: 100%;
	text-align: center;
	margin-top: 0.94rem;
}
.operationBtn{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 1.68rem;
}
.operationBtn span{
	display: block;
	width: 4.375rem;
	height: 1.875rem;
	border: 1px solid #C0C1C7;
	border-radius: 100px;
	text-align: center;
	line-height: 1.875rem;
	color: #BFC1C6;
	font-size: 0.875rem;
}
.operationBtn span.sure{
	color:  #3FC9A6;
	border-color: #3FC9A6;
	margin-left: 0.5rem;
}

/*请求等待样式*/
#waitWrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}
.waiting{
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1.5rem;
	margin-top: -1.5rem;
	display: block;
}






