#personal_my_points{
	background: #f3554a;
}
#personal_my_points .inc{
	display: none;
}
#personal_my_points .inc1{
	display: block;
	
}
#personal_my_points .inc3{
	display: none;
}
#personal_my_points .words{
	color: #FFFFFF;
	
}
#personal_my_points .icn_right{
	display: block;
	
}
.my_points_level1{
	width: 940px;
	height: 100px;
	border-bottom:1px solid #CCCCCC;
}
.my_points_level1_top{
	width: 520px;
	padding-left: 420px;
	height: 18px;
	line-height: 18px;
	
}
.my_points_vip_level{
	width: 90px;
	height: 18px;
	float: left;
	background-image: url(../img/gold-card.png);
	background-repeat: no-repeat;
	background-position-y: 3px;
	color: #333333;
	font-weight: bold;
	font-size: 14px;
	text-indent: 14px;
}
.my_points_growup{
	float: left;
	line-height: 18px;
	font-size: 12px;
	color: #333333;
	margin-left: 10px;
	margin-right: 10px;
}
.grow_up_common{
	color: #EA0000;
	
}
.my_points_rules{
	
	display: block;
	color: #f3554a;
	font-size: 12px;
	text-decoration: underline;
}
.my_points_level1_bottom{
	width: 940px;
	height:44px;
	
}
.my_growup{
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	line-height: 34px;
	float: left;
	margin-right: 25px;
}
.my_points_all{
	float: left;
	width: 822px;
	height: 44px;
	
}
.my_points_white{
	
	width: 822px;
	height: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 4px;
}
.my_points_color{
	
	
	width: 274px;
	height: 8px;
    background: #661B18;
    border-radius: 4px 0 0 4px;
    
}
.my_points_all span{
	width: 24%;
    font-size: 12px;
    color: #333333;
    display: inline-block;
    text-align: center;
}
#my_points_zero{
    text-align: left;
}
#my_points_full{
	text-align: right;
}
.my_points_level2{
	width: 940px;
	height: 54px;
	
}
.my_points_level2_left{
	float: left;
	width: 300px;
	height: 54px;
	line-height: 54px;
	font-size: 14px;
	color: #333333;
}
.my_points_number{
	width: 200px;
	height: 22px;
	border: 1px solid #CCCCCC;
	outline: 0;
	text-indent: 10px;
}
.vip_timleft{
	width: 500px;
	height: 22px;
	float: left;
	margin-top: 16px;
	margin-left: 20px;
}
.vip_timleft p{
	float: left;
	color: #333333;
	font-size: 14px;
	line-height: 22px;
}
.vip_timebox{
	float: left;
	width: 118px;
	height: 20px;
	border: 1px solid #e6e6e6;
	margin-left:20px;
	cursor: pointer;
}
.vip_timebox img{
	margin-top: 2px;
	margin-right: 4px;
	float: right;
	cursor: pointer;
}
.vip_filter{
	float: left;
	width: 70px;
	height: 20px;
	border: 1px solid #661B18;
	border-radius: 4px;
	line-height: 20px;
	text-align: center;
	color: #661B18;
	cursor: pointer;
	font-size: 14px;
	margin-left: 10px;
}
.my_points_headbar{
	width: 940px;
	height: 32px;
	background: #E6E6E6;
	margin-bottom: 6px;
}
.my_points_headbar li{
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #333333;
	font-size: 14px;
	float: left;
}
.my_points_dealtime,.my_points_lose,.my_points_contime,.my_points_conlose{
	width: 170px;
}
.my_points_resrouce,.my_points_conresrouce{
	width: 284px;
}
.my_points_get,.my_points_conget{
	width: 134px;
}
.my_points_remarks,.my_points_conremarks{
	width: 182px;
}
.my_points_all_container{
	width: 940px;
	height: 730px;
}
.my_points_container{
	margin: 12px 0;
	width: 940px;
	height: 104px;
	-webkit-box-shadow: 0px 0px 8px #EEEEEE;
    -moz-box-shadow: 0px 0px 8px #eeeeee;
    box-shadow: 0px 0px 8px #EEEEEE;
}
.my_points_container li{
	font-size: 14px;
	color: #333333;
	float: left;
	line-height: 104px;
	text-align: center;
}
.sub_pages {
	width: 980px;
	height: 78px;
	position: relative;
	overflow: hidden;
	clear: both;
}

.sub_pages .btn {
	width: 24px;
	height: 24px;
	border: 1px solid #E6E6E6;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
}

.sub_pages .btn_pre {
	position: absolute;
	top: 34px;
	left: 10px;
}

.sub_pages .btn_aft {
	position: absolute;
	top: 34px;
	left: 218px;
}

.sub_pages .page_btn {
	list-style: none;
	width: auto;
	height: 25px;
	float: left;
	margin-top: 44px;
}
.page_container{
	width: 120px;
	height: 30px;
	padding-left: 20px;
	margin-top: 42px;
	float: left;
}
.suer_btn {
	width: 50px;
	height: 29px;
	border: 1px solid #E6E6E6;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	background-color: #FFFFFF;
}

.sub_pages .page_btn li {
	float: left;
	width: 24px;
	height: 24px;
	border: 1px solid #E6E6E6;
	margin-left: 8px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
}

.sub_pages .page_btn li a,
.sub_pages .page_btn li span {
	color: #999;
	width: 100%;
	height: 100%;
	display: inline-block;
}

.sub_pages .page_btn .ellipsis {
	border: 0;
}

#page_num {
	width: 44px;
	height: 24px;
	margin-right: 12px;
}

.current_pages {
	background-color: #f3554a;
	border: 1px solid #f3554a !important;
}

.current_pages span {
	color: #FFFFFF !important;
}
