			*{
				margin: 0;
				padding: 0;
			}
			.pptbox{
				width: 100%;
				height: 78px;
				position: relative;
				overflow: hidden;
			}
			
			.pptbox  .innerwrapper{
				width:auto;/*当增加了li之后，大盒子的宽度也要相应的增加 这里增加了两个li，每个400，所以ul 从原来的1600变成了2400*/
				height: 100px;
				list-style: none;
				position: absolute;
				/*left: -400px;*/
				overflow: hidden;
			}
			
			.innerwrapper li
			{
				width: 100%;
				height: 100%;
				float: left;
			}
			.innerwrapper li a
			{
				display: block;
			}
			
			.innerwrapper li a img
			{
				width: 100%;
				height: 100%;
				display:block;
			}
			
			.btnleft{
				width: 30px;
				height: 45px;
				position: absolute;
				left:7.5%;
				top:25px;
				background-image:url(/images/index/bannercontrol_left.png);
				background-position: 0px 1px;
				cursor: pointer;
				z-index: 100;
			}
			
			.btnright{
				width: 30px;
				height: 45px;
				position: absolute;
				right:7.5%;
				top:25px;
				background-image:url(/images/index/bannercontrol_right.png);
				background-position: -2px 1px;
				cursor: pointer;
				z-index: 100;
				
			}
			
			/*控制按钮开始*/
			
			.controls{
				/*width:96px;
				position: absolute;
				left:152px;
				bottom:10px;*/
				list-style: none;
			}
			.controls li{
				width: 20px;
				height:20px;
				background-color: gold;
				float: left;
				margin-right: 2px;
				text-align: center;
				border-radius:10px ;
				cursor: pointer;
			}
			
			.controls li.current
			{
				background-color:aqua;
				color: brown;
			}
			
			/*控制按钮结束*/
			
#index_container .nav_wrap .nav_list li.nav_first{
	padding-left: 50px;
	padding-right: 54px;
	
	background-color: #661b18;
	/*background-image: url(../images/index/list_nav.png);
	background-position: 24px 14px;
	background-repeat: no-repeat;*/
	cursor: pointer;
	position: relative;
	margin-left: 39px;
}