* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

ul li {
    list-style-type: none;
}

a {
    color: #000000;
    text-decoration: none;
}

input,
textarea {
    outline: none;
    border: none;
}

button {
    outline: none;
    border: 0;
}

input::-webkit-input-placeholder {
    /* WebKit browsers*/
    color: #ccc;
    font-size: 14px;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18*/
    color: #ccc;
    font-size: 14px;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+*/
    color: #ccc;
    font-size: 14px;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+*/
    color: #ccc;
    font-size: 14px;
}

main {
    display: block;
}

.v-checkbox-checked .v-checkbox-inner,
.v-checkbox-indeterminate .v-checkbox-inner,
.v-page-li-active {
    background-color: #FFA671 !important;
    border-color: #FFA671 !important;
}

.v-checkbox-input:focus+.v-checkbox-inner,
.v-checkbox-wrapper:hover .v-checkbox-inner,
.v-checkbox:hover .v-checkbox-inner,
.v-page-li:hover {
    border-color: #FFA671 !important;
}

.v-page-li:hover a {
    color: #FFA671 !important;
}

.v-page-li-active:hover a {
    color: #FFFFFF !important;
}

.v-page-jump-prev:hover i,
.v-page-jump-next:hover i {
    color: #FFA671 !important;
}

.v-table-header-row {
    background-image: linear-gradient(-270deg, #FFCE76 0%, #FFA671 100%);
    height: 70px;
    font-size: 16px;
    color: #5C5C5C;
}

.v-table-title-cell {
    border: none !important;
}

.v-table-views {
    height:auto;
}

.v-table-body-cell {
    font-size: 14px;
    color: #5C5C5C;
}

.v-table-body {
    height: auto !important;
}
.v-table-empty {
    height: 100px;
    position: relative;
}
.v-table-row {
    border-bottom: 1px solid #D2D2D2;
}

.optionBtn {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        cursor: pointer;
    }
}

.v-page-ul {
    margin: 2rem 4px !important;
    float: right;
}

.v-checkbox-group {
    .v-table-btable {
        tbody {
            tr {
                td {
                    div {
                        height: 50px!important;
                        line-height: 50px!important;
                    }
                }
                &:last-child {
                    td {
                        >div {
                            border-bottom: none !important;
                        }
                    }
                }
            }
        }
    }
}

.v-table-empty-content {
    position: absolute;
    top: 50% !important;
    margin-top: -25px;
}

//公共样式显示
.activeColor {
    color: #FFA671;
}
.bgActiveColor{
    background: #FFA671;
    color: #fff;
}

.v-table-leftview,
.v-table-rightview {
    position: initial !important;
}