@import 'base';
.bottomHomeContainer {
    height: 3.56rem;
    background-color: #ffffff;
    border-top: @borderInterval;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    .bottomHome {
        text-align: center;
        position: relative;
        padding-right: 0;
        .homeLink {
            display: block;
            margin-top: -1px;
             }
            .homeTitle {
                color: @fontColor9;
                font-size: 0.68rem;
                line-height: 4.4rem;
                height: 100%;
            }
            .homeImage {
                background-image: url('/assets/images/bottom/my-no.png');
                background-repeat: no-repeat;
                background-position:center top;
                background-size: 2.26rem 1.5625rem;
                border-right: 0.1rem solid #e6e6e6;
            }
            .listImage {
                background-image: url('/assets/images/bottom/list-no.png');
                background-repeat: no-repeat;
                background-position: center top;
                background-size: 2.26rem 1.5625rem;
            }
    }
}