.SoleAgencyWap{
    background-color: #FFFFFF !important;
    .card{
        box-shadow: none;
        .card-header{
            border-bottom: 0;
        }
    }
    h5{
        color:#9e1b1b ;
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }
    .SoleAgencyContent{
        width:100%;
        padding:0.5rem 0.4rem;
        height:auto;
        overflow:hidden;
        text-align:left;
        color:#333;
        font-size:0.75rem;
        pre{
            white-space:pre-line;
        }
    }
}
